<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="spring-boot, java, webapp"/>
    <meta name="author" content="Guilherme Alves"/>

    <title>mestrado-gc-2017</title>
    <th:block th:replace="libscss"/>
    <th:block th:replace="libsjs"/>
    <script th:src="@{js/scripts_index.js}"></script>
</head>
<body>
    <nav>
        <div class="nav-wrapper row">
            <div class="brand-square brand">
                <i class="fa fa-universal-access fa-fw" aria-hidden="true"></i>
            </div>
            <div class="input-wrapper col m4 s12">
                <div class="input-field">
                    <input id="document_name" type="text" th:maxlength="35"/>
                    <label id="document_name_label" for="document_name">Nome do documento</label>
                </div>
            </div>
            <div class="messages col m3 s12">
                <span id="document_message" class="message-info truncate"></span>
            </div>
            <ul class="nav-links right col m5 s12">
                <li><a th:href="@{/historico}">Histórico</a></li>
                <li><a th:href="@{/}" class="hide">Revisões</a></li>
                <li><button id="btn-save-document" class="waves-effect waves-light btn blue" data-loading-text="Salvando...">
                    <i class="fa fa-floppy-o fa-fw" aria-hidden="true"></i>
                    <span data-text="Salvar">Salvar</span>
                </button></li>
            </ul>
        </div>
    </nav>

    <section class="section" role="editor" aria-labelledby="ckeditorForm">
        <form id="ckeditorForm">
            <textarea name="ckeditor" id="ckeditor" rows="10" cols="80"/>
        </form>
    </section>
</body>
</html>