<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="spring-boot, java, webapp"/>
    <meta name="author" content="Guilherme Alves"/>

    <title>mestrado-gc-2017</title>
    <th:block th:replace="libscss"/>
    <th:block th:replace="libsjs"/>
    <script th:src="@{js/scripts_index.js}"></script>
</head>
<body>
    <nav>
        <div class="nav-wrapper row">
            <div class="brand-square brand">
                <i class="fa fa-universal-access fa-fw" aria-hidden="true"></i>
            </div>
            <div class="input-wrapper col m4 s12">
                <div class="input-field">
                    <input id="document_name" type="text" th:maxlength="35"/>
                    <label id="document_name_label" for="document_name">Nome do documento</label>
                </div>
            </div>
            <div class="messages col m3 s12">
                <span id="document_message" class="message-info truncate"></span>
            </div>
            <ul class="nav-links right col m5 s12">
                <li><span id="tag-icon-block" class="tag-icon"><i class="fa fa-pencil" aria-hidden="true"></i></span></li>
                <li><a th:href="@{/historico}">Histórico</a></li>
                <li><button id="btn-save-document" class="waves-effect waves-light btn blue" data-loading-text="Salvando...">
                    <i class="fa fa-floppy-o fa-fw" aria-hidden="true"></i>
                    <span data-text="Salvar">Salvar</span>
                </button></li>
            </ul>
            <div class="tag-wrapper col m6">
                <div class="fixed-action-btn click-to-toggle">
                    <a class="btn-floating btn-large waves-effect waves-light tooltipped blue" data-position="left" data-delay="50"
                       data-tooltip="Clique para adicionar uma etiqueta" aria-label="Clique para adicionar uma etiqueta"
                       alt="Clique para adicionar uma etiqueta">
                        <i class="fa fa-tags" aria-hidden="true"></i>
                    </a>
                    <ul>
                        <li>
                            <a class="btn-floating waves-effect waves-light tooltipped grey" data-position="left" data-delay="50"
                               data-tooltip="Escrevendo conteúdo" data-tag-icon="pencil"
                               aria-label="Etiqueta escrevendo conteúdo" alt="Escrevendo conteúdo">
                                <i class="fa fa-pencil" aria-hidden="true" style="height: 56px; line-height: inherit;"></i>
                            </a>
                        </li>
                        <li>
                            <a class="btn-floating waves-effect waves-light tooltipped red" data-position="left" data-delay="50"
                               data-tooltip="Corrigindo problemas" data-tag-icon="wrench"
                               aria-label="Etiqueta corrigindo problemas" alt="Corrigindo problemas">
                                <i class="fa fa-wrench" aria-hidden="true" style="height: 56px; line-height: inherit;"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <section class="section" role="editor" aria-labelledby="ckeditorForm">
        <form id="ckeditorForm">
            <textarea name="ckeditor" id="ckeditor" rows="10" cols="80"/>
        </form>
    </section>
</body>
</html>