<th:block xmlns:th="http://www.thymeleaf.org">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/materializecss/js/materialize.min.js}"></script>
    <script th:src="@{/webjars/moment/min/moment-with-locales.min.js}"></script>
    <script th:src="@{/webjars/chartjs/dist/Chart.min.js}"></script>
    <script th:src="@{/webjars/sweetalert2/dist/sweetalert2.min.js}"></script>
    <script th:src="@{ckeditor/ckeditor.js}"></script>
    <script th:src="@{js/jquery.base64.js}"></script>
    <script th:src="@{js/scripts_commons.js}"></script>
</th:block>